<!-- DYN -->
<script src="https://combinatronics.com/sinfulcomedy/sinfulcomedy.github.io/master/assets/js/jquery.min.js"></script>
<script src="https://combinatronics.com/sinfulcomedy/sinfulcomedy.github.io/master/assets/js/jquery.scrollex.min.js"></script>
<script src="https://combinatronics.com/sinfulcomedy/sinfulcomedy.github.io/master/assets/js/jquery.scrolly.min.js"></script>
<script src="https://combinatronics.com/sinfulcomedy/sinfulcomedy.github.io/master/assets/js/skel.min.js"></script>
<script src="https://combinatronics.com/sinfulcomedy/sinfulcomedy.github.io/master/assets/js/util.js"></script>
<script src="https://combinatronics.com/sinfulcomedy/sinfulcomedy.github.io/master/assets/js/main.js"></script>
